<div class="col-sm-4 well">
    <div class="horizontal-align">
            <a href="~/Workout/Overview">Workout</a>
    </div>
</div>
<div class="col-sm-4 well">
    <div class="horizontal-align">
        <a href="~/Nutrition">Nutrition</a>
    </div>
    
</div>