<div class="col-sm-4 well">
    <div class="horizontal-align">
            <a href="~/workouts">Workout</a>
    </div>
</div>
<div class="col-sm-4 well">
    <div class="horizontal-align">
        <a href="~/Nutrition">Nutrition</a>
    </div>
</div>