@model List<Fittify.DataModels.Models.Sport.Exercise>

@{
    ViewBag.Title = "Exercises";
}

<div>
    <h2>Exercises</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Name
            </th>
        </tr>
        @foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.Name</td>
            </tr>
        }
    </table>
</div>