@model List<Fittify.Entities.WorkoutSession>

@{
    ViewBag.Title = "TrainingSession";
}

<div>
    <h2>Your last Workout Sessions</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Workout Session</th>
                <th>Date</th>
            </tr>
        </thead>
        @foreach (var session in Model)
        {
            <tr>
                <td><a href="~/Workout/Details/@session.Id">@session.Name</a></td>
                <td>@session.SessionEnd.DayOfWeek, @session.SessionEnd.ToString("dd/mmm/yyyy")</td>
            </tr>
        }
    </table>
</div>