@using Fittify.Web.ViewModels.Sport
@model Fittify.Web.ViewModels.Sport.WorkoutViewModel

@{
    ViewBag.Title = "Exercises";
}

<div>
    <h2>Exercises</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Name
            </th>
        </tr>
        @foreach (var exercise in Model.AssociatedExercises)
        {
            <tr>
                <td>@exercise.Name</td>
            </tr>
        }
    </table>
    <form class="form-group" action="~/workout/@Model.Id/associatedexercises" method="post">
    <input type="submit" value="Add" class="btn btn-primary" />
    <div class="col-sm-4">
        <select class="form-control" name="Id">
            <option>Please select exercise to add</option>
            @foreach (var e in Model.AllExercises.OrderBy(o => o.Name))
            {
                <option value="@e.Id">@e.Name</option>
            }
        </select>
    </div>
    </form>
</div>