<h2>Your workout history for {{workouts[0]?.workoutName}}</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>
      DateTime
    </th>
  </tr>

  <tr *ngFor="let workoutHistory of workoutHistories">
    <td>
      <a href="/workout/historyDetails/{{workoutHistory?.id}}">
        <div *ngIf="workoutHistory?.dateTimeStart; else elseNotStartedYet">
          {{workoutHistory?.dateTimeStart}}
        </div>
        <ng-template #elseNotStartedYet>Not started yet</ng-template>


        <div *ngIf="workoutHistory?.dateTimeEnd; else elseNotEndedYet">
          {{workoutHistory?.dateTimeEnd}}
        </div>
        <ng-template #elseNotEndedYet>Not ended yet</ng-template>

      </a>
    </td>
  </tr>


</table>
<form action="~/workout/history/new" method="post">
  <input name="workoutId" type="hidden" value="@Model.FirstOrDefault()?.WorkoutId"/>
  <input type="submit" value="Start new workout" class="btn btn-default"/>
</form>
