<h2>Exercises for {{workouts[0].name}}</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>
      Name
    </th>
  </tr>
 <tr *ngFor="let exercise of associatedExercises">
    <td>{{exercise.name}}</td>
  </tr>
</table>
<form class="form-group" action="~/workout/@Model.Id/associatedexercises" method="post">
  <input type="submit" value="Add" class="btn btn-primary" />
  <div class="col-sm-4">
    <select class="form-control" name="Id">
      <option>Please select exercise to add</option>
      <option *ngFor="let e of allExercises" value="{{e.id}}">{{e.name}}</option>
    </select>
  </div>
</form>
